body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.quote-container {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ff1493;
}

.quote-page {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.quote-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
